@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Poppins-MediumItalic.ttf');
}

@font-face {
  font-family: 'Pattaya';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Pattaya-Regular.ttf');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/Spoqa\ Han\ Sans\ Thin.ttf');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Spoqa\ Han\ Sans\ Light.ttf');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Spoqa\ Han\ Sans\ Regular.ttf');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Spoqa\ Han\ Sans\ Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Spoqa Han Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logo-font {
  font-family: 'Pattaya', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.4rem;
}
